<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077345394397-mgmaag4jde40ar96r8bejrhml4c2a32m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077345394397-mgmaag4jde40ar96r8bejrhml4c2a32m</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Fiqtf8jit1yBCaq2IkH3fiU6qMZVyVg</string>
	<key>GCM_SENDER_ID</key>
	<string>1077345394397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sodainmind.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-21407</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-21407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077345394397:ios:3089a61f3b3ebb5702c534</string>
</dict>
</plist>